{% extends "base.html" %}
{% block content %}
    <div id="all">
  <form method="post" action="/">
  {% csrf_token %}
      <div id="cmd">
          <h1>We Like Krique - Sprint 1</h1>
          <input type="text" name="command"><br id="br"/>
          <input type="submit">
      </div>

  </form>
  <p id="msg">{{message}}</p>
    </div>
{% endblock content %}